<div class="row">
    <div id="post">
        <div id="topbar">
            <div id="title-username">
                <div id="title">
                    <h1>{{post.title}}</h1>
                </div>
                <div id="username">
                    <h3>{{post.username}}</h3>
                </div>
            </div>
        </div>
        <div id="description">
            <p>{{post.description}}</p>
        </div>
    </div>
    <div id="images">
        {{#each images as |image|}}
        <img src='{{image.imagePath}}' class="img-fluid" />
        {{/each}}
    </div>
    <div id="comment-section">
        <div>
            <input type="text" id="comment-input" />
            <button id="comment-button">Submit</button>
        </div>
        <div id="comments">
            {{#each comments as |comment|}}
            <div>
                <p>{{comment.username}}</p>
                <p>{{comment.comment}}</p>
            </div>
            {{/each}}
        </div>
    </div>
</div>

<script src="/assets/js/post.js"></script>